table.table-fields .control-label.col-xs-0,
table.table-fields .control-label.col-sm-0,
table.table-fields .control-label.col-md-0,
table.table-fields.control-label.col-lg-0 {
    display: none;
}

table.table-fields tbody tr td {
    border: none;
}

table.table-fields tbody tr td:first {
    padding-left: 0;
}

table.table-fields tbody tr td:first {
    padding-right: 0;
}

table.table-fields tbody td .form-group {
    margin-bottom: 0;
}

.table.table-fields {
    margin-bottom: 0;
}

table.table-fields .form-group.has-error .control-label,
table.table-fields .form-group.has-error br {
    /*display: none;*/
}
